<section>
  <div class="container">
    <h1 class="text-center display-3 fw-bold my-3">Template Resumes</h1>
    <div class="info mb-5">
      <h3>Your resume in three easy steps</h3>
      <p>Resume builder tools that assemble well-formatted resume. Through a resume builder, you can create a professional-looking resume in a few easy steps. This resume builder offer different template options, so you can select the template that best fits your needs and style.</p>
      <div class="d-flex justify-content-around align-items-center">
        <ul class="list-unstyled">
          <li><i class="fa-solid fa-1 rounded-2"></i> Select a template from our collection.</li>
          <li class="my-2"><i class="fa-solid fa-2 rounded-2"></i> Build you resume using our easy to use resume builder.</li>
          <li><i class="fa-solid fa-3 rounded-2"></i> Download your resume.</li>
        </ul>
        <div class="home-logo">
          <img src="./assets/images/home-logo.3452f3793afaa0470f77.png" alt="">
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="template">
          <img routerLink="/template1" src="./assets/images/Logo Templates/template1.png" class="w-100 h-100" alt="resume">
        </div>
      </div>
      <div class="col-md-4">
        <div class="template">
          <img routerLink="/template2" src="./assets/images/Logo Templates/template2.png" class="w-100 h-100" alt="resume">
        </div>
      </div>
      <div class="col-md-4">
        <div class="template">
          <img routerLink="/template3" src="./assets/images/Logo Templates/template3.png" class="w-100 h-100" alt="resume">
        </div>
      </div>
      <div class="col-md-4">
        <div class="template">
          <img routerLink="/template4" src="./assets/images/Logo Templates/template4.png" class="w-100 h-100" alt="resume">
        </div>
      </div>
      <div class="col-md-4">
        <div class="template">
          <img routerLink="/template5" src="./assets/images/Logo Templates/template5.png" class="w-100 h-100" alt="resume">
        </div>
      </div>
    </div>
  </div>
</section>
