<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <form [formGroup]="resumeFrom" (ngSubmit)="resumeSubmit()" class="form d-flex flex-column gap-3 shadow-lg p-3">

          <div class="d-flex flex-column justify-content-center align-items-start gap-2">
            <h2>Personal Details</h2>
            <input formControlName="name" class="form-control" type="text" placeholder="Your Name...">
            <input formControlName="position" class="form-control" type="text" placeholder="Work Profile...">
            <input formControlName="address" class="form-control" type="text" placeholder="Address..">
            <input formControlName="email" class="form-control" type="text" placeholder="Email Id...">
            <input formControlName="phone" class="form-control" type="text" placeholder="Phone Number...">
          </div>

          <div class="d-flex flex-column justify-content-center align-items-start gap-2">
            <h2>Profile</h2>
            <textarea formControlName="profile" class="form-control" placeholder="Summery Descriptions..."></textarea>
          </div>

          <div #skillsInputs class="d-flex flex-column justify-content-center align-items-start gap-2">
            <h2>Skills</h2>
            <i class="fa-solid fa-plus" (click)="addSkills()"></i>
          </div>

          <div #expierenceInputs class="d-flex flex-column justify-content-center align-items-start gap-2">
            <h2>Expierence</h2>
            <i class="fa-solid fa-plus" (click)="addExpierence()"></i>
          </div>

          <div #languageInputs class="d-flex flex-column justify-content-center align-items-start gap-2">
            <h2>Language</h2>
            <i class="fa-solid fa-plus" (click)="addLanguage()"></i>
          </div>

          <div class="d-flex flex-column justify-content-center align-items-start gap-2">
            <h2>Education</h2>
            <input formControlName="education" class="form-control" type="text" placeholder="Education Title...">
            <textarea formControlName="educationDesc" class="form-control" placeholder="Education Descriptions..."></textarea>
          </div>

          <button class="btn btn-primary">Submit</button>
          <button class="btn btn-danger" (click)="download()">Download</button>
        </form>
      </div>
      <div #template class="col-lg-8 bg-white">
        <div class="row">
          <div class="col-12 p-0 border-bottom border-dark border-5">
            <div class="resume-header d-flex justify-content-around align-items-center bg-light p-5">
              <div>
                <h1 class="m-0">{{name}}</h1>
                <h4>{{position}}</h4>
              </div>
              <ul class="list-unstyled text-end">
                <li>{{phone}} <i class="fa-solid fa-phone"></i></li>
                <li><a href="mailto:{{email}}">{{email}} <i class="fa-solid fa-envelope"></i></a></li>
                <li>{{address}} <i class="fa-solid fa-location-dot"></i></li>
              </ul>
            </div>
          </div>

          <div class="col-12">
            <div class="resume-body">
              <div class="summary text-center py-4">
                <h2 class="w-50 mx-auto border-bottom border-3 border-black py-3 mb-3">Summary</h2>
                <p class="px-5">{{profile}}</p>
              </div>
              <div class="resume-info">
                <div class="row">
                  <div class="col-4">
                    <div class="resume-left d-flex flex-column gap-4">

                      <div class="education">
                        <h3 class="mb-3">Education</h3>
                        <h4>{{education}}</h4>
                        <p>{{educationDesc}}</p>
                      </div>

                      <div class="skills">
                        <h3 class="mb-3">Skills</h3>
                        <ul>
                          @for (skill of skills; track $index) {
                            <li>{{skill}}</li>
                          }
                        </ul>
                      </div>

                      <div class="language">
                        <h3 class="mb-3">Languages</h3>
                        <ul>
                          @for (lang of language; track $index) {
                            <li>{{lang}}</li>
                          }
                        </ul>
                      </div>

                    </div>
                  </div>
                  <div class="col-8 border-start border-2 border-dark">
                    <div class="resume-right">
                      <h3 class="mb-3">Professional Experience</h3>
                          @for (exp of expierence; track $index) {
                            <h4>{{exp.head}}</h4>
                            <ul>
                              <li>{{exp.desc}}</li>
                            </ul>
                          }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
